<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatisの動作をカスタマイズするため設定ファイル -->

<configuration>
  <!-- environments:環境設定
  接続先の環境設定を定義する -->
  <environments default="sample_id">
    <environment id="sample_id">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/XEPDB1"/>
        <property name="username" value="testuser"/>
        <property name="password" value="itano240"/>
      </dataSource>
    </environment>
  </environments>
  <!-- mappers:マッピング
  SQL文を定義しているマッピングファイルのパスを指定する -->
  <mappers>
    <mapper resource="book-config.xml"/>
    <mapper resource="prefSymbol-config.xml"/>
  </mappers>
</configuration>
