<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- データ更新画面 -->

<head>
    <meta charset="UTF-8">
    <title>更新</title>
</head>

<body>
    <h1>更新画面</h1>

    <!-- 更新データ入力欄 -->
    <form th:action="@{/update/result}" th:object="${bookForm}" th:method="post">
        <div class="form-group">
            <label>ISBNコード：<span class="text-danger">※編集不可</span></label>
            <input type="text" th:field="*{book_id}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>出版日：<span class="text-danger">※</span></label>
            <input type="date" th:field="*{release_date}" class="form-control">
        </div>
        <div class="form-group">
            <label>タイトル：<span class="text-danger">※</span></label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="form-group">
            <label>著者：<span class="text-danger">※</span></label>
            <input type="text" th:field="*{author}" class="form-control">
        </div>
        <div class="form-group">
            <label>値段：<span class="text-danger">※</span></label>
            <input type="text" th:field="*{price}" class="form-control">
        </div>
        <div class="form-group">
            <label>在庫数：<span class="text-danger">※</span></label>
            <input type="text" th:field="*{stock}" class="form-control">
        </div>

        <br />

        <!-- 「更新」ボタン押下時、データ更新処理を行い、処理結果画面(result.html / failed.html)に遷移
        「キャンセル」ボタン押下時、データ一覧表示画面に遷移 -->
        <div class="text-center">
            <button type="submit">更新</button>
            <button type="submit" formaction="/mybatis">キャンセル</button>
        </div>

    </form>

</body>

</html>