<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- データ一覧表示画面 -->

<head>
  <meta charset="UTF-8">
  <title>全件表示</title>
</head>

<body>
  <h1>全件表示</h1>

  <!-- データ表示欄 -->
  <!-- 各データ列の「更新」ボタン押下時、データ更新画面に遷移
  各データ列の「削除」ボタン押下時、データ削除画面に遷移 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>出版日</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>値段</th>
        <th>在庫数</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book : ${result}" th:object="${book}" class="align-middle">
        <td th:text="*{book_id}"></td>
        <td th:text="${#dates.format(book.release_date, 'yyyy/MM/dd')}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{stock}"></td>
        <td><a th:href="@{/update/{bookId}(bookId=*{book_id})}" class="btn btn-secondary">更新</a></td>
        <td><a th:href="@{/delete/{bookId}(bookId=*{book_id})}" class="btn btn-secondary">削除</a></td>
      </tr>
    </tbody>
  </table>

  <br />

  <!-- ホーム画面へのリンク -->
  <a href="/" class="btn btn-secondary">ホーム</a>
</body>

</html>